/* google fonts imported
------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    
    margin: 0px 0px;
}

/* first section
----------------- */
#top-part{
    display: flex;
    background-color: #2D25A0;
    height: 677px;
    margin-top: 0px;
}


h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: #FFFFFF;
}
#left-half{
    width: 50%;
    margin-left: 156px;
    margin-top: 153px;
    
}
#right-half{
    width: 50%;
    margin-top: 153px;
    
}
.link-button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    width: 168px;
    height: 44px;
    
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
    margin-top: 70px;
    margin-left: 180px;
    
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    align-items: center;
    justify-content: center;
}
.player img{
    width: 300px;
    height: 256px;
}

/* footer styles
------------------------ */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 213px;
    width: 484px;
    margin-top: 158px;
    margin-bottom: 63px;
}
.fav{
    height: 32px;
    width: 32px;
}
#copyright{
    font-size: 18px;
}