/* google fonts imported
------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    
    margin: 0px 0px;
}

/* =================
first section
----------------- */
 #top-part{
    
    height: 677px;
    background-color: #2D25A0;
    padding-top: 153px;
    
    
}


.top-section{
    display: flex;
    justify-content: center;
    
    
    
}

#top-part h1{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: #FFFFFF;
    font-weight: 700;
}
.half-width{
    
    margin-left: 156px;
    margin-right: 102px;
    
}


.link-button{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #E02C6D;
    width: 88px;
    height: 24px;
    padding: 10px 24px;
    
}
.fa-arrow-right{
    color: #FFFFFF;
    
    padding-left: 8px;
}

/*-----------------
 players in box styles
---------------------------*/
.container{
    display: flex;
    justify-content: center;
    
}

.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px; 
    margin-top: 70px;
    margin-bottom: 165px;
    
    
    
}
.player{
    padding: 15px;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
    
}
.player h2{
    font-size: 28px;
    color: #18191F;
    margin: 0;
    padding: 16px 0px 10px 0px;
 }
.player p{
    color:  #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
.player img{
    
    width: 300px;
    height: 256px;
}


/* ------------
TOP NEWS
---------------------- */
#top-news{
    text-align: center;
}
#top-news h2{
    font-size: 50px;
    color: orange;
    margin-bottom: 0px;
    font-weight: 400;
}
#top-news p{
    font-size: 30px;
}
#main-news{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    
}

#main-news img{
    width: 100%;
}

.box{

    max-width: 320px;
}
/* video 
================= */
#news-video{
    margin-top: 200px;
    text-align: center;
}
#news-video h1{
    font-size: 50px;
}
#news-video p{
    font-size: 30px;
}
#recent-videos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    grid-row-gap: 50px;
}

/*-------------------
 footer styles
------------------------ */
footer{
    /* width: 484px; */
    margin-top: 158px;
    margin-bottom: 63px;
    
}
footer img{
    height: 110px;
    width: 484px;
}
#font-awesome{
    width: 170px;
    height: 32px;
    margin:0px 156px; 
    
}
.fab{
    
    border-radius: 50%;
    height: 32px;
    width: 32px;
 
}
#copyright{
    font-size: 18px;
    width: 236px;
    margin-left: 124px;
}